* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#navbarFixed {
    z-index: 100;
}

.landingPage {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 7%;
    padding: 0 auto;
    margin: 0 auto;
}

#homeIcon {
    width: 42px;
}

.search_input {
    margin-right: 5px;
}

.searchSubmit {
    padding: 10px;
}

.loginBtn, .signupBtn {
    margin-right: 3px;
    margin-left: 3px;
}

.loginBtn, .closeBtn {
    border-color: #228CAB;
}

.signupBtn, .submitBtn {
    border-color: #389738;
}

.close {
    color:grey;
}

.close:hover {
    color: grey;
}

#loginLink, #signupLink, #logoutLink, #favLink {
    font-size: 17px;
    color: black;
}

#loginLink:hover, #signupLink:hover, #logoutLink:hover, #favLink:hover {
    color: #228CAB;
}

.hidden-xs {
    font-size: 13px;
    color: black;
}

.hidden-xs:hover {
    border-color: #228CAB;
}

.visible-xs:hover {
    border-color: #228CAB;
}

.login_input, .signup {
    width: 370px;
}

.login_email, .signup_input {
    margin-bottom: 10px;
}

.signup_confirm, .login_pass {
    margin-bottom: 22px;
}

.loginHi {
    margin-top: 17px;
    margin-right: 10px;
    font-size: 16px;
    color: black;
} 

.errorMessage {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: red;
}

.imageLivingroom {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    left: 0;
    height: auto;
}

.landingIntro {
    position: fixed;
    text-align: center;
    top: 16.5%;
    left: 27%;
}

.landingIntro > div > div > img {
    position: absolute;
    top: 500px;
    width: 30px;
    color: black;
}

.title {
    color: black;
    font-size: 35px;
}

.container {
    position: absolute;
    background-color: #F5FAFE; /* f2f9fc #f7f2ed #F8F8F8 #F5FAFE f9fbfc*/
    margin: 0 auto;
    padding: 100px 130px 130px 130px;
    width: 100%;
    top: 100%;
}

.whatWeDo {
    font-size: 25px;
    color: black; /*#41474D*/
    text-align: center;
    margin-bottom: 55px;
    border:1px solid white;
    background-color: white;/* #f9f2ea*/
    padding-bottom: 45px;
    padding-top: 40px;
    max-height: 250px; 
}

.explain {
    margin-bottom: 20px;
}

.imageBox {
    border: 0px solid #F8F8F8;
    border-left: none;
    border-bottom: none;
    text-align: center;
    background-color: white; /*#F8F8F8*/
    max-height: 235px;
    padding: 3px 20px 3px 20px;
}

.imageBox:hover {
    transition: 0.5s ease;
    background-color: #edf3fc;
}

.imageFurnitures {
    max-width: 100%;
    margin: 0 auto;
    max-height: 226px;
}

.overlay {
    position: fixed;
    color: grey;
    top: 15%;
    left: 26%;
    margin: 0 auto;
    z-index: 1000;
}

.modal-content {
    width: 410px;
}

.modal-header {
    text-align: center;
}

.modal-title {
    color: grey;
}

.searchText {
    margin: 0 auto;
}

.searchText > h1 {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 60px;
}

.itemResults {
    text-align: center;
    height: 560px;
    background-color: #F5FAFE;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid white;
}

.itemResults:hover .leftArrow, .itemResults:hover .rightArrow {
    opacity: 1.0;
}

.leftArrow, .rightArrow {
    position: absolute;
    opacity: 0;
    transition: opacity 800ms;
}

.leftArrow;hover , .rightArrow:hover {
    cursor: pointer;
}

.leftArrow {
    left: 3%;
    width: 22px;
    top: 33%; /*#969899*/
}

.rightArrow {
    left: 92.5%;
    width: 22px;
    top: 33%;
}

.imageProductBox {
    background-color: white;
    height: 348px;
}

#imageProduct {
    max-width: 87%;
    margin: 0;
    margin-top: 10px;
    max-height: 310px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translateX(-50%) translateY(-50%);
}

.productDescription {
    background-color: white;
    top: 69.5%;
    position: absolute;
    width: 92.2%;
    height: 150px;
}

.productTitleBox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.productTitle {
    padding-left: 15px;
    padding-right: 15px;
    color: #135593;
    text-align: left;
}

.amazonLogo, .price {
    display: inline-block;
}

.price {
    font-size: 17px;
    color: #AE4343;
}

.amazonLogo {
    width: 50px;
    padding-bottom: 4px;
    margin-left: 5px;
}

.furIcon {
    width: 35px;
    margin-right: 6px;
    padding-bottom: 6px;
}

.heartFav {
    position: absolute;
    left: 95.5%;
    top: 0.5%;
    font-size: 17px;
    color: #b9bdbf;
    border: none;
    background-color: white;
    padding: 0px;
    text-align: center;
    background-color: #F5FAFE;
}

.heartFav:hover {
    cursor: pointer;
    color: #ed023d;
}

.removeFavorite {
    display: none;
}

.changeToRed {
    color: #ed023d;
}

.changeToRed:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.searchResultsContainer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 7%;
    padding: 30px 100px 100px 100px;
}

.searchResults > div {
    text-align: center;
    margin: 0 auto;
}

.showFavoritesContainer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 7%;
    padding: 40px 100px 100px 100px;
}

.errorSearch {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.showFavorites {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.showFavoriteResults, .searchResultsBox {
    text-align: center;
}

.showFavorites > div {
    text-align: center;
    margin: 0 auto;
}

.userBox {
    position: fixed;
    background-color: black;
    top: 6%;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.userBox > div {
    text-align: center;
    position: absolute;
    top: 12%;
}

.userBox > div > p {
    font-size: 35px;
    color: white;
    margin-top: 25px;
}

.userBackground {
    max-height: 670px;
}


@media (max-width: 500px) {
    .landingIntro {
        left: 13%;
        top: 18%;
    }
    .landingIntro > div > div > img {
        top: 115px;
        width: 18px;
    }
    .title {
        font-size: 18px;
    }
    .container {
        top: 41%;
        padding: 30px;
    }
    .whatWeDo {
        font-size: 17px;
    }
    .imageFurnitures {
        max-height: 175px;
    }
    .modal-content {
        width: 350px;
    }
    .overlay {
        left: 3.5%;
        top: 15%;
    }
    .login_input, .signup {
        width: 310px;
    }
    .itemResults {
        margin-bottom: 16px;
    }
    .productDescription {
        font-size: 14px;
        top: 62.5%;
        width: 89%;
        height: 190px;       
    }
    .imageProductBox {
        height: 310px;
    }
    #imageProduct {
        max-width: 80%;
        top: 29.5%;
        max-height: 280px;
    }
    .showFavoritesContainer, .searchResultsContainer {
        padding: 80px 20px 80px 20px;
    }
    .loginHi {
        margin-left: 14px;
    }
    .userBox > div {
        left: 0%;
        width: 50%;
        padding: 0px;
    }
    .userBox > div > p {
        font-size: 25px;
        width: 100%;
        margin-left: 98px;
        margin-top: 80px;
    }
    .userBackground {
        max-height: 300px;
        margin-top: 50%;
    }
    .heartFav, .changeToRed {
        left: 94%;
        font-size: 17px;
    }
    .leftArrow {
        left: 1%;
    }
}

@media (min-width: 510px) and (max-width: 1100px) {
    .landingPage {
        top: 3%;
    }
    .landingIntro {
        left: 18%;
        top: 14%;
    }
    .container {
        top: 37%;
    }
    .whatWeDo {
        font-size: 17px;
    }
    .userBox > div > p {
        font-size: 25px;
        width: 70%;
        margin-left: 98px;
        margin-top: 80px;
    }
    .userBackground {
        max-height: 400px;
        margin-top: 20%;
    }

}




