* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.waiting * {
    cursor: progress;
}

.download {
    position: absolute;
    top: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.btn {
    margin-left: 2px;
    margin-right: 2px;
}

#navbarFixed {
    z-index: 100;
    background-color: #B0B5BB;
    border-bottom: 2px solid #CADAEA;
}

.navbar-brand {
    color: black;
    padding: 15px;
    font-size: 23px;
}

.navbar {
    border-width: 0;
}

.imageLivingroom {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    width: auto;
    max-height: 100%;
}

.landingPage {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.landingIntro {
    position: fixed;
    text-align: center;
    top: 16.5%;
    width: 100%;
}

.landingIntro > div > div > img {
    position: absolute;
    top: 180px;
    width: 30px;
    color: black;
}

.title {
    color: black;
    font-size: 35px;
}

.formWrap {
    margin-top: 30px;
}

.loginSignupLandingPage {
    position: absolute;
    width: 100%;
    margin-top: 140px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#homeIcon {
    width: 42px;
}

.search_input {
    margin-right: 7px;
    border: 1px solid lightgrey;
    padding-left: 10px;
    border-radius: 3px;
    height: 37px;
    width: 260px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.searchSubmit {
    padding: 10px;
}

.submitSearch {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.loginBtn, .signupBtn {
    margin-right: 3px;
    margin-left: 3px;
}

.loginBtn, .submitBtn, .signupBtn, .closeBtn, .submitSearch, .submitSearchXs {
    border-color: #228CAB;
}

.loginBtn:hover, .submitBtn:hover, .submitSearchXs:hover,
.signupBtn:hover, .closeBtn:hover, .submitSearch:hover {
    border-color: #023f7c; /*#389738*/
}

#loginLink, #signupLink, #logoutLink, #favLink {
    font-size: 17px;
    color: black;
}

#loginLink:hover, #signupLink:hover, #logoutLink:hover, #favLink:hover {
    color: #228CAB;
}

.visible-xs:hover {
    border-color: #228CAB;
}

.login_input, .signup {
    width: 370px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding-left: 10px;
    margin-bottom: 15px;
}

.signup_confirm, .login_pass {
    margin-bottom: 22px;
}

.loginHi {
    margin-top: 17px;
    margin-right: 10px;
    font-size: 16px;
    color: black;
} 

.container {
    position: absolute;
    background-color: #F5FAFE; /* f2f9fc #f7f2ed #F8F8F8 #F5FAFE f9fbfc*/
    margin: 0 auto;
    padding: 100px 130px 130px 130px;
    width: 100%;
    top: 100%;
}

.whatWeDo {
    font-size: 25px;
    color: black; /*#41474D*/
    text-align: center;
    margin-bottom: 55px;
    border:1px solid white;
    background-color: white;/* #f9f2ea*/
    padding-bottom: 45px;
    padding-top: 40px;
    max-height: 250px; 
}

.explain {
    margin-bottom: 20px;
}

.imageBox {
    border: 0px solid #F8F8F8;
    border-left: none;
    border-bottom: none;
    text-align: center;
    background-color: white; /*#F8F8F8*/
    max-height: 235px;
    padding: 3px 20px 3px 20px;
}

.imageFurnitures {
    max-width: 100%;
    margin: 0 auto;
    max-height: 226px;
}

.overlay {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    background-color: white;
    background:rgba(255,255,255,.95);
    left: 0;
    top: 0;
}

.modal-dialog, .modal-signup {
    width: 440px;
    text-align: center;
    padding: 25px 25px 50px 25px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal-signup {
    margin-top: 100px;

}

.modal-dialog {
    margin-top: 170px;
}

.modal-title {
    font-size: 22px;
    margin: 25px 0;
}

.errorMessage {
    text-align: center;
    color: red;
}

.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 50px;
    margin: 30px 40px 0 0;
    font-weight: normal;
    color: black;
}

.close:hover {
    color: grey;
}

.itemResults {
    text-align: center;
    height: 560px;
    background-color: #F5FAFE;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid white;
}

.itemResults:hover .leftArrow, .itemResults:hover .rightArrow {
    opacity: 1.0;
}

.leftArrow, .rightArrow {
    position: absolute;
    opacity: 0;
    transition: opacity 800ms;
}

.leftArrow;hover , .rightArrow:hover {
    cursor: pointer;
}

.leftArrow {
    left: 3%;
    width: 22px;
    top: 33%; /*#969899*/
}

.rightArrow {
    left: 92.5%;
    width: 22px;
    top: 33%;
}

.imageProductBox {
    background-color: white;
    height: 348px;
}

#imageProduct {
    max-width: 87%;
    margin: 0;
    margin-top: 10px;
    max-height: 310px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translateX(-50%) translateY(-50%);
}

.productDescription {
    background-color: white;
    top: 69.5%;
    position: absolute;
    width: 92.2%;
    height: 150px;
}

.productTitleBox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.productTitle {
    padding-left: 15px;
    padding-right: 15px;
    color: #135593;
    text-align: left;
}

.amazonLogo, .price {
    display: inline-block;
}

.price {
    font-size: 17px;
    color: #AE4343;
}

.amazonLogo {
    width: 50px;
    padding-bottom: 4px;
    margin-left: 5px;
}

.furIcon {
    width: 35px;
    margin-right: 6px;
    padding-bottom: 6px;
}

.heartFav {
    position: absolute;
    left: 95.5%;
    top: 0.5%;
    font-size: 17px;
    color: #b9bdbf;
    border: none;
    background-color: white;
    padding: 0px;
    text-align: center;
    background-color: #F5FAFE;
}

.heartFav:hover {
    cursor: pointer;
    color: #ed023d;
}

.removeFavorite {
    display: none;
}

.changeToRed {
    color: #ed023d;
}

.changeToRed:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.searchResultsContainer {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 7%;
    padding: 30px 100px 100px 100px;
}

.searchText {
    margin: 0;
    padding: 0; 
}

.searchResults > div {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.showFavoritesWrap {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 10%;
}

.showFavoritesContainer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0px 100px 100px 100px;
}

.errorSearch {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.showFavorites {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.showFavoriteResults, .searchResultsBox {
    text-align: center;
}

.showFavorites > div {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.userBox, .userBox > div, .userBox > div > p, .userBackground {
    margin: 0;
    padding: 0;
}

.userBox {
    position: fixed;
    text-align: center;
    width: 100%;
}

.userBox > div {
    text-align: center;
    position: fixed;
    top: 5%;
}

.userBox > div > p {
    font-size: 35px;
    margin-top: 65px;
}

.userBackground {
    position: fixed;
    left: 0;
    width: : auto;
    max-height: 100%;
}


@media (max-width: 784px) {
    .landingIntro {
        top: 12%;
        left: 3.6%;
    }
    .landingIntro > div > div > img {
        top: 540px;
    }
    .visible-xs {
        color: black !important;
        font-size: 17px;
    }
    .visible-xs:hover {
        color: #228CAB !important;
    }
    .submitSearchXs {
        margin-left: 0;
    }
    .container {
        padding: 30px;
    }
    .whatWeDo {
        font-size: 17px;
    }
    .imageFurnitures {
        max-height: 175px;
    }
    .overlay {
        height: 100%;
    }
    .modal-dialog, .modal-signup {
        width: 380px;
    }
    .modal-signup {
        margin-top: 140px;
    }
    .login_input, .signup {
        width: 310px;
    }
    .itemResults {
        margin-bottom: 16px;
    }
    .productDescription {
        font-size: 14px;
        top: 62.5%;
        width: 89%;
        height: 190px;       
    }
    .imageProductBox {
        height: 310px;
    }
    #imageProduct {
        max-width: 80%;
        top: 29.5%;
        max-height: 280px;
    }
    .showFavoritesContainer {
        padding: 0px 0px 80px 0px;
    }
    .searchResultsContainer {
        padding: 20px 20px 80px 20px;        
    }
    .loginHi {
        margin-left: 14px;
    }
    .userBox > div > p {
        font-size: 26px;
        width: 100%;
        margin-top: 80px;
    }
    .heartFav, .changeToRed {
        left: 94%;
        font-size: 17px;
    }
    .leftArrow {
        left: 1%;
    }
}



