* {
    box-sizing: border-box;
    font-family: Roboto;        
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
} 

.landingPage {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 7%;
    padding: 0 auto;
    margin: 0 auto;
}

.search_input {
    margin-right: 5px;
}

/*.searchSubmit {
    border-color: #B2C0C9;
}*/

.imageLivingroom {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    left: 0;
    height: auto;
}

.landingIntro {
    position: fixed;
    top: 18.5%; /*41.5%*/
    left: 27%;
}
.title{
    /*background-color: rgba(0,0,0,0.3);
    border-radius: 3px;*/ 
    color: grey;
    font-size: 35px;
    /*padding: 5px 15px 5px 15px;*/
}

.container {
    position: absolute;
    background-color: #f7fbfc; /* f2f9fc #f7f2ed #F8F8F8 #F5FAFE f9fbfc*/
    margin: 0 auto;
    padding: 100px 130px 130px 130px;
    width: 100%;
    top: 100%;
}

.whatWeDo {
    font-size: 25px;
    color: grey; /*#41474D*/
    text-align: center;
    margin-bottom: 55px;
    border:1px solid white;
    background-color: white;/* #f9f2ea*/
    padding-bottom: 40px;
    padding-top: 40px;
    max-height: 200px; 
}

.whatWeDo:hover {
    transition: 0.5s ease;
    background-color: #edf3fc;
}

.explain {
    margin-bottom: 20px;
}

.loginBtn, .signupBtn {
    /*margin-top: 15px;*/
    margin-right: 3px;
    margin-left: 3px;
    /*font-size: 16px;
    border-radius: 2px;*/
}

.loginBtn, .closeBtn{
    border-color: #228CAB;
}

.signupBtn, .submitBtn {
    border-color: #389738;
}

.close {
    color:grey;
}

.close:hover {
    color: grey;
}

.login_input, .signup {
    width: 370px;
}

.login_email, .signup_input {
    margin-bottom: 10px;
}

.signup_confirm, .login_pass {
    margin-bottom: 22px;
} 

.imageBox {
    border: 0px solid #F8F8F8;
    border-left: none;
    border-bottom: none;
    text-align: center;
    background-color: white; /*#F8F8F8*/
    max-height: 235px;
    padding: 3px 20px 3px 20px;
}

.imageBox:hover {
    transition: 0.5s ease;
    background-color: #edf3fc;
}

.imageFurnitures {
    max-width: 100%;
    margin: 0 auto;
    max-height: 226px;
}

.overlay {
    position: absolute;
    color: grey;
    top: 20%;
    left: 26%;
    margin: 0 auto;
    z-index: 1000;
}

.modal-content {
/*    background-color: white;
*/    width: 410px;
}

.modal-header {
    text-align: center;
}

.modal-title {
    color: grey;
}

.errorMessage {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: red;
}



@media (max-width: 500px) {
    .landingIntro {
        left: 8%;
        top: 18%;
    }
    .title {
        font-size: 18px;
    }
    .container {
        top: 41%;
        padding: 30px;
    }
    .whatWeDo {
        font-size: 17px;
    }
}

@media (min-width: 510px) and (max-width: 1100px) {
    .landingPage {
        top: 3%;
    }
    .landingIntro {
        left: 18%;
        top: 14%;
    }
    .container {
        top: 37%;
    }
}



